.chat{
    background-color: #bababa;
    margin-top: 3%;
    height: 70%;
    border-radius: 0.4rem;
    padding: 1%;
    overflow: auto;
}

#urn{
    text-align: right;
    padding-right: 1%;
}
#msg{
    padding-left: 1%;
}

.loggedIn_msg{
    background-color: white;
    border-radius: 0.4rem;
    list-style: none;
    width: 40%;
    float: bottom;

}

.NotloggedIn_msg{
    background-color: grey;
    border-radius: 0.4rem;
    list-style: none;
    width: 40%;
    float: top;
    margin:25px;

}

.input_message{
    width: 50%;
}

ion-icon{
    color: white;
}


