/*Back Arrow,ion-icons*/

.arrow {
   margin-top: 2%;
   margin-left: 3%;
   color: #bababa;
   font-size: 200%;
}

ion-icon {
   margin-left: 1%;
   vertical-align: middle;
}

ion-icon:hover {
   cursor: pointer;
}

/*Info about member*/

.member_info {
   width: 80%;
   margin-top: 2%;
   height: 100%;
}

.member_photo {
   width: 40%;
   float: left;
   -webkit-box-shadow: 5px 5px 30px 1px #000000;
   box-shadow: 5px 5px 30px 1px #000000;
}

.member_info_text {
   margin-left: 45%;
   color: #bababa;
   font-size: 25px;
}

.member_stageName {
   color: white;
}

.info_title {
   color: white;
   font-family: 'Domine', serif;
   margin-top: 7%;
   font-size: 250%;
   margin-bottom: 4%;
}

.details_list {
   font-size: 25px;
   color: #bababa;
   margin-bottom: 5%;
}

.details_li {
   list-style: none;
}

.dif_styling {
   color: white;
   font-family: 'Domine', serif;
}


p {
   color: #bababa;
   font-size: 25px;
}

/*Solo Work*/

.solo_work_title {
   color: white;
   font-family: 'Domine', serif;
   margin-top: 5%;
   font-size: 250%;
   margin-bottom: 5%;
}

.works_title {
   color: white;
   font-family: 'Domine', serif;
   margin-bottom: 2%;
}

.mixt_list {
   margin-bottom: 5%;
}

.mixt_col {
   margin-right: 5%;
}

.mixtape_title {
   color: #bababa;

}


.list {
   color: #bababa;
}

/*MV*/

.mv_title {
   font-family: 'Domine', serif;
   margin-bottom: 5%;
   color: white;
   font-size: 200%;
}

iframe {
   border: none;
   margin-bottom: 10%;
}