<div *ngIf="member">
  <ion-icon name="arrow-back-outline" class="arrow" (click)="goBack()"></ion-icon>
  <div class="container-fluid member_info">
    <div class="row">
      <div class="col">
        <img src="{{member.img2}}" alt="{{member.name}}" class="member_photo">
        <div class="member_info_text">
          <h1 class="member_stageName">{{member.stageName}}</h1>
          <p>{{member.info}}</p>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col d-flex justify-content-center">
      <h1>INFO</h1>
    </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="details_list d-flex justify-content-center">
          <ul>
            <li>Name: {{member.name}}</li>
            <li>Stage name: {{member.stageName}}</li>
            <li>Born: {{member.born}}</li>
            <li>Age: {{member.age}}</li>
            <li>Occupation: {{member.occupation}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="solo_work_title">Solo Works</h1>
        <div *ngIf="member.mixtapes">
          <div *ngFor="let mixtape of member.mixtapes"></div>
          <h1>{{mixtape.name}}</h1>
          <div *ngFor="let song of mixtape.songs"></div>
          <ol>
            <li>{{song.song}}</li>
          </ol>
        </div>
        <!--YT Links-->
      </div>
    </div>
  </div>
</div>