<body>
    <div class="container-fluid title_div fixed-top">
        <div class="row">
            <div class="col">
                <a routerLink="/home">
                    <h1 class="title d-flex justify-content-center ">{{title | uppercase}}</h1>
                </a>
            </div>
            <div class="col login_register">
                <a *ngIf="this.authService.isLoggedIn()" routerLink="/account" class="nav-link" aria-current="page">
                    {{ this.authService.username }}
                    <ion-icon name="person-circle"></ion-icon>
                </a>
                <a *ngIf="!this.authService.isLoggedIn()" routerLink="/login" class="nav-link" aria-current="page">
                    Login/Register
                </a>
            </div>
        </div>
        <!--icon-->
    </div>
    <div class="hidden"></div>
    <router-outlet></router-outlet>
    <div class="container-fluid fixed-bottom">
        <div class="row">
            <div class="col">
                <div ngbDropdown placement="top-end" class="d-inline-block du">
                    <button class="btn btn-outline-primary du_button" ngbDropdownToggle><span>My List</span></button>
                    <div ngbDropdownMenu class="du_list" *ngIf="items">
                        <span class="listTitle">Check Out Later:</span>
                        <li ngbDropdownItem *ngFor="let item of items">{{item.listItem}}</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>