@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

body{
  height: 100% !important;
}

/*Title container,register/login*/

.title_div {
  background-color: rgba(0, 0, 0, 0.2);
  height: 40px;
}

.title {
  margin-top: 1%;
  padding-top: 1%;
  color: #fbf2fc;
  font-family: 'Domine', serif;
  font-size: 150%;
}

.nav-link {
  color: #bababa;
  font-family: 'Domine', serif;
}

a:hover {
  text-decoration: none;
}

.userName {
  left: 91%;
  position: absolute;
  vertical-align: middle;
}

.pfpImg {
  width: 15%;
  border-radius: 50%;
  vertical-align: middle;

}

.login_register {
  left: 88%;
  position: absolute;
  color: #bababa;
  margin-top: 0.5%;
}


/*Hidden div*/

.hidden {
  height: 41px;
}

/*Dropdown*/

.du {
  float: right;
  margin-right: 13%;
}

.du_button {
  width: 300%;
  border: white solid 2px;
  color: white;
}

.du_button:hover {
  background-color: white;
  color: black;
}

.du_button:focus {
  box-shadow: none !important;
  background-color: white;
  border: white;
  color: black;
}

.du_button:active {
  box-shadow: none !important;
  background-color: white !important;
  border: white;
  color: black !important;
}


.mylist_span {
  margin-right: 5%;
}

.du_list {
  width: 300%;
  height: 350px;
  overflow-y: auto !important;
}

.listTitle_div {
  border-bottom: rgb(37, 36, 36) 1px solid;
  padding-bottom: 2.5%;
}

.listTitle {
  font-size: 130%;
  margin-left: 5%;

}

.lista_li {
  border-bottom: #bababa solid 1px;
}

.trash {
  float: right;
}

.trash:hover {
  cursor: pointer;
}

ion-icon {
  font-size: 120%;
  margin-left: 0.5%;
}

/*Footer*/

footer {
  color: #bababa;
  background-color: #242423;
  height: 5%;
  text-align: center;
  padding: 0.5%;
}