/*Back Arrow,ion-icons*/

.arrow {
   margin-top: 2%;
   margin-left: 3%;
   color: #bababa;
   font-size: 200%;
}

ion-icon {
   margin-left: 1%;
}

ion-icon:hover {
   cursor: pointer;
}

/*Album Info*/

.album_info {
   width: 80%;
   margin-top: 2%;
   height: fit-content;
}

.album_photo {
   width: 40%;
   float: left;
   -webkit-box-shadow: 5px 5px 30px 1px #000000;
   box-shadow: 5px 5px 30px 1px #000000;
}

.album_info_text {
   margin-left: 45%;
   color: #bababa;
   font-size: 25px;
   margin-bottom: 10%;
}

.album_title {
   color: white;
}

p {
   color: #bababa;
   font-size: 25px;
}

/*Tracklist*/

.details_list {
   margin-top: 5%;
   font-size: 25px;
   max-width: 200%;
   margin-bottom: 20%;

}

.tracks {
   color: white;
   font-family: 'Domine', serif;
   margin-bottom: 10%;
   font-size: 130%;

}

.song_id {
   color: #bababa;
   margin-right: 5%;
}

.song_title {
   color: white;
}

.song_length {
   color: rgba(186, 186, 186, 0.5);
   margin-left: 2%;
   margin-right: 5%;
}

ul {
   padding: 0;

}

ul li {
   list-style: none;
   width: 200%;
}

/*Concept Photos*/

.mv_cp {
   font-family: 'Domine', serif;
   margin-bottom: 5%;
   color: white;
   font-size: 200%;
}

ngb-carousel {
   margin-bottom: 10%;
   height: 700px;
}

.carousel_img {
   height: 700px;
}

/*MV*/

iframe {
   border: none;
   margin-bottom: 10%;
}