<div *ngIf="album">
    <ion-icon name="arrow-back-outline" class="arrow" (click)="goBack()"></ion-icon>
    <div class="container-fluid album_info">
        <div class="row">
            <div class="col">
                <img src="{{album.albumImg}}" alt="{{album.albumTitle}}" class="album_photo">
                <div class="album_info_text">
                    <h1 class="album_title">{{album.albumTitle}} <ion-icon name="add-circle-outline"
                            (click)="addOnClick()"></ion-icon>
                    </h1>

                    <p>{{album.info}}</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="row">
                    <div class="col details_list">
                        <h1 class="tracks d-flex justify-content-center">TRACKS</h1>
                        <ul *ngFor="let tracklist of album.trackList">
                            <li><span class="song_id">{{tracklist.id}}</span><span
                                    class="song_title">{{tracklist.songTitle}}</span><span
                                    class="song_length">{{tracklist.songLength}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h1 class="mv_cp">CONCEPT PHOTOS</h1>
                </div>
            </div>
            <div class="row ">
                <div class="col d-flex justify-content-center">
                    <ngb-carousel>
                        <ng-template data-interval="1000" ngbSlide *ngFor="let conceptPhotos of album.conceptPhotos">
                            <div class="picsum-img-wrapper">
                                <img class="carousel_img" [src]="conceptPhotos.img" alt="...">
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h1 class="mv_cp">MV</h1>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="row ">
                    <div class="col">
                        <div *ngFor="let links of album.ytLinks">
                            <iframe width="700" height="500" [src]='links.link | safe'>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>