/*Main Nav pictrure*/
.main {
    -webkit-box-shadow: 5px 5px 30px 1px #000000;
    box-shadow: 5px 5px 30px 1px #000000;
}

/*Navbar*/

.nav_items {
    position: absolute;
    margin: auto;
    top: 10%;

}

nav {
    overflow: hidden;
    background-color: transparent;
}

.nav_a {
    float: left;
    color: #bababa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Domine', serif;
}

nav a:hover {
    color: grey;
}

.chat {
    color: #bababa;
}

/*About BTS*/

.band_name {
    color: white;
    font-family: 'Domine', serif;
    margin-top: 5%;
}

.about_bts {
    color: #bababa;
    font-size: 25px;
    text-align: justify;
    text-indent: 50px;
}


/*Social Media List*/

.social_media_list_row {
    margin-top: 4%;
}

.gq_photo {
    width: 25%;
    float: right;
    margin-bottom: 20px;
    -webkit-box-shadow: 5px 5px 30px 1px #000000;
    box-shadow: 5px 5px 30px 1px #000000;
}

.list {
    float: right;
}

.sm_list_title {
    color: #bababa;
    margin-bottom: 15px;
    margin-top: 30px;
    margin-right: 20px;
}

ul {
    margin-right: 10px;
}

ul li {
    list-style: none;
    color: #bababa;
    font-size: 25px;
}

ul li:hover {
    text-decoration: underline #bababa;
}

/*Youtube video*/

.yt_video {
    margin-left: 3%;
    margin-top: 3%;
}

iframe {
    border: none;
}

/*Hr*/

hr {
    height: 1px;
    color: #bababa;
    background-color: #bababa;
    margin-top: 5%;
}

/*Label info*/

.BM_title {
    margin-top: 5%;
    color: white;
    font-family: 'Domine', serif;
}

.about_bm {
    color: #bababa;
    font-size: 24px;
    text-align: justify;
    text-indent: 50px;
    padding-bottom: 2%;
}